= semantic_form_for [:admin, @player] do |f|
  = f.inputs name: '牌手管理' do
    = f.input :avatar, as: :file, hint: f.object.avatar_thumb.present? ? image_tag(f.object.avatar_thumb, height: 100) : nil
    = f.input :name
    = f.input :country, as: :string
    = f.input :dpi_total_earning
    = f.input :dpi_total_score
    = f.input :memo
    = f.actions

