<div>
  <h3>订单信息</h3><hr>
  <%= render 'order_info' %>
  <%= render 'race_info', { race: @purchase_order.race } %><br>

  <h3>用户账户信息</h3><hr>
  <%= render 'user', { user: @purchase_order.user } %><br>

  <h3>用户实名信息</h3><hr>
  <% @purchase_order.user.user_extra || @purchase_order.user.build_user_extra %>
  <%= render 'user_extra', { user_extra: @purchase_order.user.user_extra, purchase_order: @purchase_order } %>

  <br/><h3 class="order_address">收货信息</h3>
  <% if %w(unpaid paid).include?(@purchase_order.status) %>
      <button class="update_order_address">修改</button>
  <% end %>
  <hr><br>

  <div class="edit_order">
    <% if @purchase_order.ticket_type.eql?('e_ticket') %>
        <div class="ticket_order">
          <span>电子票</span>
          <span>收货电子邮箱：<%= @purchase_order.email %></span>
        </div>
        <div class="ticket_order_edit" >
          <%= form_tag(change_e_ticket_address_admin_purchase_order_path(@purchase_order.id), method: 'post', remote: true) do %>
            <label for="email">新的邮箱：</label>
            <%= text_field_tag(:email, @purchase_order.email) %>
            <%= submit_tag "更新", data: { confirm: "确定更新吗？" } %><button class="order_ticket_button_cancel">取消</button>
          <% end %>
        </div>
    <% else %>
        <div class="ticket_order">
          <span>实体票</span>
          <span>收货人：<%= @purchase_order.consignee %></span>
          <span>联系方式：<%= @purchase_order.mobile %></span>
          <span>收货地址：<%= @purchase_order.address %></span>
        </div>
        <div class="ticket_order_edit" >
          <%= form_tag(change_entity_ticket_address_admin_purchase_order_path(@purchase_order.id), method: 'post', remote: true) do %>
              <fieldset>
                <legend>实体票修改:</legend>
                <label for="consignee">收货人&nbsp;&nbsp;&nbsp;&nbsp;：</label><%= text_field_tag(:consignee, @purchase_order.consignee) %><br>
                <label for="mobile">联系方式：</label><%= text_field_tag(:mobile, @purchase_order.mobile) %><br>
                <label for="address">收货地址：</label><%= text_field_tag(:address, @purchase_order.address) %>
                <%= submit_tag "更新", data: { confirm: "确定更新吗？" } %><button class="order_ticket_button_cancel">取消</button>
              </fieldset>
          <% end %>
        </div>
    <% end %>
  </div>
</div>
