<div class="sky-form">
  <%= semantic_form_for [:admin, @race] do |f| %>
      <% @race.ticket_info || @race.build_ticket_info %>
      <% @race.race_desc   || @race.build_race_desc %>
      <%= f.inputs name: '赛事简介' do %>
          <%= f.input :race_host, prompt: true %>
          <%= f.input :name %>
          <%= f.input :prize %>
          <%= f.input :ticket_price %>
          <%= f.input :location %>
          <%= f.input :begin_date %>
          <%= f.input :end_date %>
          <%= f.input :status, as: :select, collection: TRANS_RACE_STATUSES %>
          <%= f.input :logo, as: :file,
                      hint: f.object.logo.present? ? image_tag(f.object.preview_logo) : nil %>
          <%= f.input :ticket_sellable %>
          <%= f.input :describable %>
          <%= f.semantic_fields_for :race_desc do |desc_form| %>
              <%= desc_form.input :description %>
              <%= desc_form.input :schedule %>
          <% end %>
      <% end %>

      <%= f.semantic_fields_for :ticket_info do |info_form| %>
          <%= info_form.hidden_field :e_ticket_number %>
      <% end %>

      <%= f.actions %>
<% end %>
</div>
<script type="text/javascript">
  var textarea, val;
  textarea = $('#race_race_desc_attributes_description');
  val = textarea.val();
  textarea.val(marked(val));
  var editor = new Simditor({
      textarea: textarea,
      toolbar: ['title', 'bold', 'italic', 'underline', 'strikethrough' ,'hr', '|', 'ol', 'ul', 'blockquote', 'link','image', '|', 'markdown'],
      placeholder: '这里输入文字...',
      pasteImage: true,
      fileKey: 'file',
      submitContentType: 'markdown',
      upload: {
          url: '/photos', params: null, connectionCount: 3,
          leaveConfirm: 'Uploading is in progress, are you sure to leave this page?'
      }
  });
  $("form.race").submit(function(){
      var fillValue;
      fillValue = toMarkdown(editor.getValue(), { gfm: true });
      editor.textarea.val(fillValue);
  });
</script>