= semantic_form_for [:admin, @race, @race_rank], remote: true do |f|
  = f.inputs  do
    = f.input :race, collection: [[@race.name, @race.id]], prompt: true
    = f.input :player_id, as: :hidden
    %li#search_player_input
      %label 所属选手
      %input{type: 'text', disabled: 'disabled'}
      %label &nbsp;
      =link_to '搜索选手', player_table_admin_race_race_rank_path(1,1), remote: true
      - @race_rank.errors[:player_id].each do |err|
        %p.inline-errors=err

    = f.input :ranking
    = f.input :earning
    = f.input :score
    = f.submit