%div{title: '排行榜'}
  = semantic_form_for [:admin, @race, @race_rank], remote: true do |f|
    = f.inputs  do
      = f.input :race, collection: [[@race.name, @race.id]], prompt: true
      = f.input :player, as: :string
      = f.input :player
      = f.input :ranking
      = f.input :earning
      = f.input :score
      = f.submit