- resource.ticket_info || resource.build_ticket_info
- resource.ticket_en || resource.build_ticket_en
= semantic_form_for [:admin, @race, resource] do |f|
  = f.inputs do
    = f.input :race, collection: [[@race.name, @race.id]], prompt: true
    = f.input :title, as: :embedded_string, embedded_html: :with_en
    = f.input :price, as: :embedded_string, embedded_html: :with_en
    = f.input :original_price, as: :embedded_string, embedded_html: :with_en
    = f.input :ticket_class, collection: TRANS_TICKET_CLASSES, prompt: true
    = multilingual_editor_switch
    %li#markdown_cn
      = f.text_area :description
    %li#markdown_en
      = f.semantic_fields_for :ticket_en do |form|
        ~ form.text_area :description
    = f.semantic_fields_for :ticket_info do |info_form|
      = info_form.hidden_field :e_ticket_number
  = f.actions
:javascript
  $(function() {
    dpEditor.call($('#ticket_description'), $('form.ticket'));
     dpEditor.call($('#ticket_ticket_en_attributes_description'), $('form.ticket'),
         { placeholder: 'Here to enter text...' });
    // $('#ticket_ticket_class').change(function () {
    //   var ticket_class = $(this).val();
    //   if (ticket_class == 'single_ticket') {
    //     $('#ticket_description_input').hide();
    //   } else {
    //     $('#ticket_description_input').show();
    //   }
    // })
  });
