%div{style: 'min-width: 300px;'}
  %section#quick-errors
    = render 'layouts/error_messages', object: @variant

  - url = quick_update_shop_product_variant_path(@variant)
  - @variant.image || @variant.build_image
  = semantic_form_for @variant, url: url, remote: true do |f|
    = f.inputs do
      - collection = [[@product.title, @product.id]]
      = f.input :product, collection: collection, prompt: true
      = f.input :original_price
      = f.input :price
      = f.input :stock
      = f.semantic_fields_for :image do |form|
        = form.input :filename, as: :attachment, required: true,
                                hint: '图片最大为 2MB',
                                image: proc { |o| o.preview }
    = f.submit
