<tr>
  <td><%= user_story.number %></td>
  <td><%= link_to user_story.name, scrum_user_story_path(user_story) %></td>
  <td><%= user_story.status %></td>
  <td><%= user_story.score %>分</td>
  <td>
    <div class="btn-group">
      <%= link_to '编辑', edit_scrum_user_story_path(user_story), class: 'btn btn-default' %>
      <%= link_to '删除', scrum_user_story_path(user_story),
                  class: 'btn btn-default', method: :delete,
                  data: { confirm: '确定要删除吗？' }, remote: true %>
    </div>

  </td>
</tr>
