<% content_for :title, '用户故事'%>

<div class="jumbotron">
  <div class="container">
    <h2>
      <%= link_to "#{@user_story.number} . #{@user_story.name} . #{@user_story.score}分 . #{@user_story.status}",
                  edit_scrum_user_story_path(@user_story) %>
    </h2>
    <p><%= @user_story.introduce %></p>
    <p>
      <%= link_to '创建AC', new_scrum_user_story_ac_path(@user_story), class: 'btn btn-success btn-lg' %>
    </p>
  </div>
</div>

<div class="panel panel-default">
  <table class="table">
    <tr>
      <th>AC编号</th>
      <th>given</th>
      <th>when</th>
      <th>than</th>
      <th>操作</th>
    </tr>

    <% @user_story.acs.each do |ac| %>
        <tr>
          <td><%= ac.number %></td>
          <td><%= ac.given %></td>
          <td><%= ac.when %></td>
          <td><%= ac.than %></td>
          <td>
            <%= link_to '创建数据', "http://192.168.2.92:8800#{ac.uri}", remote: true,
                        class: 'btn btn-success invoke_factory' %>
            <div class="btn-group">
              <%= link_to '编辑', edit_scrum_user_story_ac_path(@user_story, ac), class: 'btn btn-default' %>
              <%= link_to '删除', scrum_user_story_ac_path(@user_story, ac),
                          method: :delete, data: { confirm: '确定要删除吗？' },
                          class: 'btn btn-default' %>
            </div>
          </td>
        </tr>
    <% end %>
  </table>
</div>


