- types = VideoType.all.collect do |type|
  - type_name = type.published ? type.name + ' [已发布]' : type.name
  - [type_name, type.id]

- selected = types.collect do |val, key|
  - break [val, key] if params[:id].present? && key.eql?(Video.find(params[:id]).video_type.id.to_i)
  - break [val, key] if params[:type_id].present? && key.eql?(params[:type_id].to_i)

= semantic_form_for [:admin, @video] do |f|
  = f.inputs name: '视频管理' do
    = f.input :name
    = f.input :video_type_id, as: :select, collection: options_for_select(types, selected)
    = f.input :cover_link, as: :file, hint: f.object.image_thumb.present? ? image_tag(f.object.image_thumb, height: 60) : nil
    = f.input :video_link
    = f.input :published
    ~ f.input :description
    = f.actions

:javascript
  var textarea, val;
  textarea = $('#video_description');
  val = textarea.val();
  textarea.val(marked(val));
  var editor = new Simditor({
      textarea: textarea,
      toolbar: ['title', 'bold', 'italic', 'underline', 'strikethrough' ,'hr', '|', 'ol', 'ul', 'blockquote', 'link','image', '|', 'markdown'],
      placeholder: '这里输入文字...',
      pasteImage: true,
      upload: {
          url: '/photos',
          fileKey: 'image',
          leaveConfirm: '正在上传文件，如果离开上传会自动取消'
      }
  });
  $("form.video").submit(function(){
      var fillValue;
      fillValue = toMarkdown(editor.getValue(), { gfm: true });
      editor.textarea.val(fillValue);
  });